html {
	height: 100%;
	width: 100%;
}

body {
	max-width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 2.5rem;
}

#splashcreen {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 9999;
}

#splashcreen .logo {
  height: auto;
  width: 12%;
  margin-left: 1rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  z-index: 1;
}

#splashcreen .light {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  z-index: 0;
}

#splashcreen .loading-text {
  color: #fff !important;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-left: 1rem;
  float: right;
  z-index: 1;
}
